{% load staticfiles %}
<style>
body
{
	background-color:lightblue;
}
button
{
	text-align:center;
	padding:1vmin;
}
a
{
	text-align:center;
}
</style>
<head>
	<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
</head>
<div style="border : solid white 2vmin ; border-radius:2vmin">
	<a href="http://127.0.0.1:3000/onlinehosts"><button>List of online Hosts</button></a>
	<br>
	<a href="http://127.0.0.1:3000/becomehost"><button>Become Host</button></a>
	{% if request.user.is_staff == True %}
	<br>
	<a href="http://127.0.0.1:3000/adminpage"><button>Admin page</button></a>
	{% endif %}
</div>
